@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #E6F8F6;
	font-family: 'Lato', 'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #03414D;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
